doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="renderer" content="webkit")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui")
		meta(name="imagemode" content="force")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black")
		meta(name="format-detection" content="telephone=no")
		meta(http-equiv="pragma" content="no-cache")
		title 小米商城
		link(rel="shortcut icon" href="../favicon_icon/favicon.ico")
		link(rel="stylesheet" href="css/style.min.css")
		script(src="../static/_modules_js/common.js")
	body
		#J_visibleWatcher.viewport
			.section.section-header
				.slider
					.part.active
						img.lazy(data-src="img/b1-b467f6a647.jpg")
					.part
						img.lazy(data-src="img/b2-df0f276cf6.jpg")
			.section.section-nav
				#J-nav.nav
					a.items.items-a.active(href="javascript:void(0);" data-target="#childhood") 忆童年
					a.items.items-b(href="javascript:void(0);" data-target="#new") 玩新品
					a.items.items-c(href="javascript:void(0);" data-target="#special") 享特惠
					a.items.items-d(href="javascript:void(0);" data-target="#gift") 赢好礼
			.section.parts.section-wrap1#childhood
				.title-img
					img.lazy(data-src="img/p1-1960544c22.jpg")
				.showBox
					ul.list
						li.items
							.img
								img.lazy(data-src="img/p1-1.jpg")
							.brief
								h1 小米手机5
								p 每天早上10点现货
							.price 1999元起
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							.img
								img.lazy(data-src="img/p1-2.jpg")
							.brief
								h1 小米Max 「3GB＋32GB」
								p 两天现货：5.27/5.31
							.price 1499元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							.img
								img.lazy(data-src="img/p1-3.jpg")
							.brief
								h1 红米手机 3
								p 天天现货：5.26 - 6.1
							.price 899元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							.img
								img.lazy(data-src="img/p1-4.jpg")
							.brief
								h1 红米Note 3
								p 天天现货：5.26 - 6.1
							.price 899元起
							a.btn-buy(href="javascript:void(0);") 立即购买
			.section.parts.section-wrap2
				.title-img
					img.lazy(data-src="img/p2-a7a1fe39b5.jpg")
				.showBox
					ul.list
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p2-1.jpg")
							.brief
								h1 小米电视3S 43英寸
								p 让童年的记忆，更加清晰
							.price 1799元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p2-2.jpg")
							.brief
								h1 小米家庭音响 金属版
								p 用今天的音响，听听小时候的声音
							.price 899元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p2-3.jpg")
							.brief
								h1 米路由器 mini
								p 只要网速快，时时回味小时候
							.price 129元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p2-4.jpg")
							.brief
								h1 小米蓝牙手柄
								p 红白机的游戏如今可以这样玩
							.price 99元
							a.btn-buy(href="javascript:void(0);") 立即购买
			.section.parts.section-wrap3
				.title-img
					img.lazy(data-src="img/p3-8f3b5ed58c.jpg")
				.showBox
					ul.list
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p3-1.jpg")
							.brief
								h1 九号平衡车
								p 用好奇的心看看这个世界
							.price 1999元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p3-2.jpg")
							.brief
								h1 小米手环
								p 寻找童年的每一步都应该被记录
							.price 99元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p3-3.jpg")
							.brief
								h1 小蚁运动相机
								p 换一个视角，也许会有新发现
							.price 399元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p3-4.jpg")
							.brief
								h1 米兔电话儿童手表
								p 和小孩随时随地在一起
							.price 299元
							a.btn-buy(href="javascript:void(0);") 立即购买
			.section.parts.section-wrap4
				.title-img
					img.lazy(data-src="img/p4-41a970c817.jpg")
				.showBox
					ul.list
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p4-1.jpg")
							.brief
								h1 米家写字灯
								p 书桌旁的灯光，如此温暖
							.price 169元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p4-2.jpg")
							.brief
								h1 小米随身蓝牙音箱
								p 重新听小时候的歌，会有新的感受
							.price 69元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p4-3.jpg")
							.brief
								h1 小米圈铁耳机
								p 现在的耳机，比以前更美好了
							.price 99元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p4-4.jpg")
							.brief
								h1 20000mAh移动电源
								p 小时候的梦想，也需要充电
							.price 149元
							a.btn-buy(href="javascript:void(0);") 立即购买
			.section.parts.section-wrap5#new
				.title-img
					img.lazy(data-src="img/p5-0ab5647b55.jpg")
				.showBox.wrap5
					img.lazy.lazy-bg(data-src="img/p5-box-6cd900c308.jpg")
					ul.list
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p5-1.jpg")
							.brief
								h1 魔方
								p 随心控制智能设备
							.price 69元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p5-2.jpg")
							.brief
								h1 Yeelight智能灯泡 彩光版
								p 1600万种色彩的灯泡
							.price 99元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p5-3.jpg")
							.brief
								h1 小米小钢炮蓝牙音箱2
								p 声声动听的桌上艺术品
							.price 129元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p5-4.jpg")
							.brief
								h1 悟空米兔
								p 米兔新玩具，夏日来袭
							.price 49元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p5-5.jpg")
							.brief
								h1 飞行员米兔屏幕擦挂饰
								p 可爱造型，一起在天空翱翔
							.price 29元
							a.btn-buy(href="javascript:void(0);") 立即购买
			.section.parts.section-wrap6#special
				.title-img
					img.lazy(data-scr="img/p6-a69886324e.jpg")
				.showBox
					ul.list
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-1.jpg")
							.brief
								h1 清凉能量套装
								p 静音实用可收纳的小风扇套餐
							.price 163.9元
								del 168.9元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-2.jpg")
							.brief
								h1 照明能量套装
								p 能调节亮度的小巧随身灯套餐
							.price 163.9元
								del 168.9元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-3.jpg")
							.brief
								h1 大白兔奶糖
								p 小时候的好滋味
							.price 回忆无价
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-4.jpg")
							.brief
								h1 小米体重秤
								p 喝杯水都可感知的精准
							.price 99元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-5.jpg")
							.brief
								h1 小米空气净化器2
								p 10分钟，房间空气焕然一新
							.price 699元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-6.jpg")
							.brief
								h1 小蚁智能摄像机 夜视版
								p 能看能听能说，手机远程观看
							.price 149元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-7.jpg")
							.brief
								h1 Yeelight床头灯
								p 给卧室1600万种颜色
							.price 249元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-8.jpg")
							.brief
								h1 小米智能插线板
								p 远程控制家电，还很漂亮
							.price 69元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-9.jpg")
							.brief
								h1 小米活塞耳机 基础版
								p 新鲜绽放，五色可选
							.price 29元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-10.jpg")
							.brief
								h1 钻石糖
								p 是不是满满的回忆？
							.price 回忆无价
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-11.jpg")
							.brief
								h1 学院风简约双肩包
								p 经典百搭颜色 一件包邮
							.price 49元
								del 59元
							a.btn-buy(href="javascript:void(0);") 立即购买
						li.items
							a.img(href="javascript:void(0);")
								img.lazy(data-src="img/p6-12.jpg")
							.brief
								h1 小米极简都市双肩包
								p 方形立体设计 4重存储空间
							.price 129元
								del 149元
							a.btn-buy(href="javascript:void(0);") 立即购买
			.section.parts.section-wrap7#gift
				.title-img
					a(href="javascript:void(0);")
						img.lazy(data-src="img/p7-1-1c38e635b2.jpg")
				.gift
					a(href="javascript:void(0);")
						img.lazy(data-src="img/jr-cb5d2c4a67.png")
				.shareBox
					img.lazy(data-src="img/p7-2-25666b72da.jpg")
					.link
						.btn.share 我要分享
						a.rules(href="javascript:void(0);") 活动规则 &gt;
				.show
					img.lazy(data-src="img/p7-3-287ee6a5a2.jpg")
				.footer
					p 小米为发烧而生
		script(src="../static/_modules_js/jquery.js")
		script(src="js/script.min.js")
